.cabecalhoPrincipal .container{
  /* inicializa o display fleex */
  display: flex;
  /* alinha no centro */
  align-items: center;
  /* alinha os elementos entre eles no espaco disponivel */
  justify-content: space-between;
}
.cabecalhoPrincipal-nav{
  /* ao inicializar o flex box ele ja alinha lado a lado */
  display: flex;

}

.rodapePrincipal-patrocinadores .container{
  display: flex;
  justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
  display: flex;
  align-items: center;
  /* coloca o espaco envolta dos elementos */
  justify-content: space-around;
  width: 70%;
  margin: 5%;

}
.rodapePrincipal-contatoForm{
  width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
  display: flex;

}
.rodapePrincipal-navMap-list{
  display: flex;
  /* column: poe em colunas */
  /* flex-direction: column; */
  /* wrap: quebra pra proxima coluna de acordo com o tamanho do pai */
  /* flex-wrap: wrap; */
  /* atalho das propriedades acima */
  flex-flow: column wrap;
  height: 250px;
}

.conteudoPrincipal-cursos{
  display: flex;
  flex-wrap: wrap;

}
.conteudoPrincipal-cursos-link{
  width: 23%;
  margin-bottom: 1%;
}
/* pega o quarto elemento */
.conteudoPrincipal-cursos-link:nth-child(4n){
  margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
  margin-left: 0;
}

.videoSobre .container{
  display: flex;
  /* justify-content: space-between; */
}
.videoSobre-sobre{
  text-align: center;
  display: flex;
  flex-direction: column;
  /* crescer o tamanho que esta sobrando */
  flex-grow: 2;
  
}
.videoSobre-video{
  flex-grow: 1;
}
.videoSobre-sobre-list{
  flex-grow: 3;
}

/* mobile */
@media(max-width: 768px){
  .cabecalhoPrincipal-nav{
    flex-direction: column;

  }
  .cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }
  .conteudoPrincipal-cursos{
    flex-direction: column;
  }
  .conteudoPrincipal-cursos-link{
    width: 100%;
  }
  .rodapePrincipal-navMap-list{
    height: auto;
  }
  .rodapePrincipal-patrocinadores .container{
    flex-direction: column;
    align-items: center;

  }
  .rodapePrincipal-patrocinadores-list{
    margin: 0;
    width: 100%;
  }
  .rodapePrincipal-contatoForm{
    width: 100%;
  }
  .rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
  }
  .cabecalhoPrincipal-nav-link-app{
    order: -1;
  }
  .videoSobre .container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
    margin: 0 auto;
  }
}